// Movies
.movies-container {
    padding: em(12);

    @include mq($tablet){
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: em(14);
    }

    @include mq($desktop){
        padding: em(20);
        grid-template-columns: 1fr 1fr 1fr;
        gap: em(18);
    }

}

.movie-card {
    background-color: rgba(black, 0.3);
    border: em(3) solid rgb(207, 197, 197);
    padding: em(10);
    margin-bottom: em(16);
    border-radius: em(8);

    img {
        width: 100%;
        border-radius: em(4);
    }

    h3 {
        text-align: center;
    }
    
    a {
        color: white;
    }

    @include mq($tablet){
        margin-bottom: 0;
    }
}

.movie-poster {
    padding: 40px 0;
    display: flex;
    justify-content: center;

    img {
        text-align: center;
        border: 5px solid white;
        border-radius: $radius;
    }
}