nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }
  li {
    flex: 1;
    margin-right: em(4);
    &:last-child {
      margin-right: 0;
    }
  }
  a {
    display: block;
    text-align: center;
    line-height: em(40);
    text-decoration: none;
    &:hover,
    &:focus,
    &:active {
      background-color: rgba(white, 0.3);
      border-radius: $radius;
    }
  }
}

.nav-main {
  li {
    background-color: $featureColor;
    border: 2px, bold, $featureColor;
    border-radius: $radius;
  }

  a {
    &.active {
      background-color: darken($featureColor, 10);
      border: 2px, bold, $featureColor;
      border-radius: $radius;
    }
    font-weight: bold;
  }

  @include mq($tablet) {
    a {
      padding: 0 em(20);
    }
  }
}

.nav-sort {
  margin: auto 1.25em;
  ul {
    flex-direction: column;
  }
  li {
    background-color: $highlightColor;
    border: 2px, bold, $highlightColor;
    border-radius: $radius;
    margin: 5px 5px;
  }
  a {
    font-size: 1em;
    font-weight: bold;

    &.active {
      background-color: darken($highlightColor, 8);
      border: 2px, bold, $highlightColor;
      border-radius: $radius;
    }
  }
  @include mq($tablet) {
    ul {
      flex-direction: row;
    }
  }
}
